<div class="footer" style="height: 15vh">
  <hr />
  <div class="d-flex justify-content-center align-items-start gap-5">
    <div class="text-center">
      <h5>Mauro Britez</h5>
      <p>Desarrollador FullStack</p>
    </div>

    <div class="d-flex gap-3">
      <a href="#home" class="nav-link">Inicio</a>
      <a href="#about" class="nav-link">Sobre mi</a>
      <a href="#proyects" class="nav-link">Proyectos</a>
    </div>

    <div class="d-flex gap-3">
      <a href="https://www.linkedin.com/in/maurobritez/" target="_blank"
        ><i class="fa-brands fa-linkedin-in fa-xl"></i
      ></a>
      <a
        href="https://mail.google.com/mail/u/0/?tab=wm#inbox?compose=CllgCHrglzdxtprSDSZGZtNThqVBPGMXMnZHrCmkRXTMKNZjBkGsWbmFKNfVrcCmMgmQXCRxJNV"
        target="_blank"
        ><i class="fa-regular fa-envelope fa-xl"></i
      ></a>
      <a href="https://github.com/maurolb" target="_blank"
        ><i class="fa-brands fa-github fa-xl"></i
      ></a>
    </div>
  </div>
</div>
